<?xml version="1.0" encoding="utf-8"?>


<config>

	<fieldset name="configuration"
			label="BDS_CONFIG_COMPONENT_CONFIGURATION"
			description="BDS_CONFIG_COMPONENT_CONFIGURATION_1"
			addfieldpath="/administrator/components/com_bds/models/fields">
            
            <field name="currency_symbol"
				label="Currency symbol"
				filter="STRING"
				default="$"
				description="Currency Symbol"
				type="cktext"/>

			<field name="number_decimal"
				label="Number of decimal"
				filter="INT"
				default="2"
				description="Number of decimal"
				type="cktext"/>

			<field name="decimal_point"
				label="Decimal point"
				filter="STRING"
				default=","
				description="Decimal point"
				type="cktext"/>

			<field name="thousand_separator"
				label="Thousand separator"
				filter="STRING"
				default="."
				description="Thousand separator"
				type="cktext"/>

			<field name="currency_display" type="radio" default="0" label="Currency display" description="Select currency position">
  				<option value="0">Before amount</option>
			  	<option value="1">After amount</option>
			</field>
    </fieldset>
    
	<fieldset name="permissions"
			label="BDS_CONFIG_PERMISSIONS"
			description="BDS_CONFIG_DEFAULT_PERMISSIONS_USED_FOR_ALL_CONTENT_IN_THIS_COMPONENT"
			addfieldpath="/administrator/components/com_bds/models/fields">

		<field name="rules"
				label="BDS_FIELD_PERMISSIONS"
				filter="rules"
				type="rules"
				validate="rules"
				section="component"
				component="com_bds"/>
	</fieldset>
</config>