/* CSS Document */
.latest,#footer,#header,.pp-invoice-thanks > h2,.pp-invoice-download,.pp-invoice-thanks-action,.pp-invoice-thanks > div > button{
	display: none;
}
.pp-gap-top10 .span4{
	float: left;
	width: 33%;
}
.pp-gap-top10 .span8{
	float: left;
	width: 65%;
}

.span4 .label{
	background-color: #999;
}
.span4 .label-important{
	background-color: #b94a48;
}
#invoice .row-fluid > .clearfix > .span6 {
    width:auto;
    float:right;
}
#invoice .clearfix > .span6:first-child {
    float:left;
}
#invoice .clearfix .span6 h3 {
    line-height: 1;
    margin:0;
}