.main-container{padding-left: 15px;padding-right: 15px;}
@media screen and (min-width: 768px) and (max-width: 1200px){
    
}
@media screen and (max-width: 992px){
    .main-container{
        padding-left:15px;
        padding-right:15px;
    }
    .navbar-toggle {
        display: block;
        margin-right: 5px;
        padding: 5px 10px;
    }
    .navbar-toggle span {
        background: #fff;
    }
    .mp-menu h2 i{
        padding-right: 10px;
    }

    .navbar-menu{
		position: absolute;
		top: 0;
        right: 0;
	}
    .mp-menu ul li > a {
        color: #fff;
    }
	#js-mainnav{
		display: none;
	}   
    #at-share-dock{
        display: none;
    }
    .box-heading h2{
        font-size: 24px;
    }
    #mainmenu{
        display: none;
    }
    #mainmenu.mobile{
        display: block;
        padding-right: 35px;
    }
    /*select*/
    .toolSearch select{
        height: 40px;
        padding: 0 10px;
        border-radius: 5px;
        background: white;
        width: 100%;
        color: #333;
        box-shadow: none;
        border: 1px solid #ddd;
    }
}
@media screen and (max-width: 768px) {
	.navbar-nav{
        display: none;
    }
    .search{
        float: left;
    }
    .box-heading h2{
        font-size: 18px;
    }
    .box-heading h2 span{
        display: none;
    }
}

@media screen and (max-width: 680px){
    .main-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width:510px){
    /*---boxList-----------*/
    .iconAvatar .nameAvatar {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .logo img{
        width: 150px;
    }
    .socail a{
        font-size: 25px;
    }
    .login{
        padding: 20px 15px;
    }
    /*---boxList-----------*/
    .menuTab a .nav-title{
        padding: 10px 0;
    }
    .listView .imageBox{
        width: 90px;
        height: 75px;
    }
    .infoBox .title{
        font-size: 13px;
        line-height: 14px;
    }
    .infoBox .fa{
        display: none;
    }
    .infoBox .price{
        font-size: 11px;
    }
    .infoFoot{
        font-size: 11px;
        width: calc(100% - 95px);
    }
    .infoFoot .areaName, 
    .infoBox .acreage,
    .infoBox .price .lab{
        display: none;
    }
}