div#rsform_fixed {
	top: 0 !important;
	left: 255px !important;
}

div#rsform_secondarytabcontent {
	top: -19px !important;
}

div#rsform_container {
	float: left !important;
	padding-left: 0 !important;
	margin-left: 0 !important;
	left: 0 !important;
	position: relative !important;
}

ul#rsform_maintabs {
	padding-left: 0px !important;
	margin-left: 0px !important;
	left: 0;
}

ul#rsform_firstleftnav {
	margin-left: 5px !important;
}

ul#rsform_secondleftnav {
	margin-left: 5px !important;
}

div#propertiescontent {
	margin-left: 255px !important;
}